/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset Code --*/
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing:1px;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
/*-- //Reset Code --*/
body{
	background: #232323;
	background-size:cover;
}
.main-w3 {
    padding: 50px;
    width: 88%;
    margin: 0 auto;
}
.main-w3 h1{
	color:#fff;
	font-size:50px;
	margin-bottom:50px;
}
.top-menu{   
    margin-bottom: 20px;
}
.top-nav {
    width: 75%;
    float: left;
	background: #fff;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar {
	margin-bottom:0;
	min-height:65px;
}
.navbar-dev {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
.navbar-right {
    float: right!important;
}
.navbar-nav > li > a {
    padding: 20px 40px 0 40px;
}
.navbar-default .navbar-nav > li > a {
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#03a9f4;
    background-color: transparent;
}
/* Effect 13: three circles */
.cl-effect-13 a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-13 a::before {
	position: absolute;
	top: 100%;
	left: 50%;
	color: transparent;
	content: '...';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before {
	color:#000;
	text-shadow: 10px 0 #000, -10px 0 #000;
}

.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
	color: #000;
}

.top-menu form {
    background:transparent;
	margin-right:50px;
	border:1px solid #999;
}
.search{
	width:25%;
	float:left;	
	padding:13.5px 0px;
	background:#fff;
	
}
.search input[type="text"] {
    background:transparent;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px;
    width: 83%;
}
.search input[type="submit"] {
    background: url(../images/search.png) no-repeat 0px 6px;
    border: none;
    outline: none;
    width: 15%;
}

.profile-top{
	padding:30px;
	background:#ff9800;
}
.profile-top-left{
	padding:0;
}
.profile-top h4,.profile-top h5{
	text-align:left;
	color:#fff;
	font-size:25px;
}
.profile-top h4{
	margin:25px 0px 15px 0;
}
.profile-top h5{
    color: #f5f5f5;
	font-size:16px;
}
.profile-ser {
    background: #ECECEC;
}
.profile-ser-grids {
    float: left;
    width: 33.3%;
    text-align: center;
    border-right: 1px solid #000;
	padding:10px 0;
	transition: 0.5s all;
	webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.profile-ser-grids:nth-child(3){
	border-right:none;
}

.profile-ser-grids:hover{
	background:#03a9f4;
}
.profile-ser-grids:hover .glyphicon{
	color:#fff;
}
.profile-ser-grids:hover.profile-ser-grids h4 {
	color:#fff;
}
.profile-ser-grids .glyphicon{
	font-size:20px;
	color:#b1b1b1;
}
.profile-ser-grids h4 {
    font-size: 1em;
    color: #000;
    margin-top: 0.2em;
}
#map {
    width: 100%;
    height: 384px;
	margin:20px 0;
}
.login-agile,.subscribe-agileits-w3layouts{
	background:#fff;
	padding:0px;
	text-align:center;
}
.login-agile form,.subscribe-agileits-w3layouts form,.flex-bottom,.skills-btm,.toggle-btm{
	padding:30px;
}
.login-agile input[type="text"],.login-agile input[type="password"],.subscribe-agileits-w3layouts  input[type="text"]{
	border:1px solid #999;
	width:100%;
	margin-bottom:15px;
	font-size:14px;
	outline:none;
}
input.user{
	padding: 12px 10px 12px 45px;
}
.email,.sub-email,.pw{
	position:relative;
}
.email span.glyphicon.glyphicon-envelope,.sub-email span.glyphicon.glyphicon-envelope ,.pw span.glyphicon.glyphicon-lock {
    position: absolute;
    top: 16px;
    left: 17px;
    color: #b1b1b1;
	z-index:99;
}
input.pw{
	padding: 12px 10px 12px 45px;
}
.login-agile input[type="submit"],.subscribe-agileits-w3layouts input[type="submit"]{
	width:100%;
	background:#ff9800;
	color:#fff;
	padding:10px 0px;
	border:none;
	outline:none;
}
.login-agile input[type="submit"]:hover,.subscribe-agileits-w3layouts input[type="submit"]:hover{
	background:#02f2f9;
}
.menu{	
	margin-top:20px;
}
.menu-top ,.login-top,.sub-top,.skills-top,.flex-top,.circular-top,.toggle-top,.acrdn-top{
    padding: 15px 0px;
	background:#03a9f4;
}
.menu h4,.flexible h4 ,.skills h4,.login-agile h4,.subscribe-agileits-w3layouts h4,.circular-chart h4,.toggle-top h4,.acrdn-top h4{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.scrollbar {
    height: 275px;
    background: #fff;
    overflow-y: scroll;
}
#style-2::-webkit-scrollbar {
	width: 5px;
	background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar-thumb {
    background-color: #c5cdd1
}
.scrollbar  ul {
    padding: 2em 1.5em;
    border-bottom: 1px solid #EDEDED;
}
.scrollbar ul li {
    display: inline-block;
    font-size: 1em;
    color: #555555;
}
.scrollbar ul li:nth-child(1) {
    width:40%;
	float:left;
}
.scrollbar ul li:nth-child(2) {
     width:60%;
	float:right;
	text-align:right;
}
.scrollbar .glyphicon{
	margin-right:15px;
}
.subscribe-agileits-w3layouts{
	margin-bottom:20px;
}
input.email {
	padding: 12px 10px 12px 45px;
}
/*-- skills --*/
.skills{
	background:#fff;
} 

.progress {
    height: 20px;
    margin-bottom: 2.2em;
    background-color: #dedede;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
    border-radius: 0;
}
.progress-last {
    margin-bottom: 0;
}
.progress-bar { 
    background-color:#ff9800;
}
.bar-grids h6 {
    font-size: 1em;
    color: #000;
    margin-bottom: 0.6em;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 2px;
	text-align:left;
}
.bar-grids h6 span {
    float: right;
    font-size: 0.9em;
}
/*-- //skills --*/
.flexible{
	position:relative;
	background:#fff;
  margin-bottom: 20px;
}

.flexible h5 {
    padding: 10px;
    font-size: 15px;
   	 color: #fc3955;
    border: 1px solid #fc3955;
}
.alert-close, .alert-close1,.alert-close2{
	background: url('../images/into.png') no-repeat 0px 0px;
  cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  right: 35px;
  top: 96px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  z-index: 999;
}
.alert-close1 {
    right: 6px;
    top: 12px;
    background: url('../images/into1.png') no-repeat 0px 0px;
}
.alert-close2{
	right: 6px;
  top: 12px;
}
.flex2{
	margin:17px 0;
	position:relative;
}
.flex3{
	position:relative;
}
.flex1 h5,.flex3 h5{
color: #07cbc9;
	border:1px solid #07cbc9;
	
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #3e94bb;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9800;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #ff9800;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #238fbf;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #0698da;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9800;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/* Bounce To Left */
.hvr-bounce-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background:#03a9f4;
}
.hvr-bounce-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#ff9800;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
  color: white;
}
.hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background:#17b7ff;
  margin:20px 0;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#ff9800;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
a..hvr-sweep-to-bottom,a..hvr-bounce-to-left{
	background:red;
}
.buttons-w3-agile a{
	padding:12px 0;
	display:block;
	text-align:center;
	color:#fff;
}
a.hvr-shutter-in-horizontal{
	margin:20px 0px;
}
a.hvr-radial-out{
	margin-bottom:20px;
}
.weather-top{
	background: url(../images/1.jpeg) no-repeat 0px 0px;
	background-size:cover;
	padding:50px;
	text-align:center;
}
.weather-top h4 {
    color: #fff;
    margin-top: 30px;
    font-size: 22px;
}
.weather-top h4 span{
	font-weight:700;
}
.weather-bottom{
	background:#ff9800;
}
.weather-bottom-wthree{
	width:25%;
	float:left;
	text-align:center;
	padding:20px 0px;
}
.weather-bottom-wthree h4{
	font-size:18px;
	color:#fff;
}
.weather-bottom-wthree canvas{
	margin:10px 0;
}
.content{
	margin:20px 0px;
}
/* jquery */
.ui-slider-handle {
    display: block;
    margin-left: -9px;
    position: absolute;
    z-index: 2;
}
.ui-slider-range {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
/* player */
.video_player {
    background-color: #f7f7f7;
    border: 1px solid #888;
    width: 100%;
    padding: 17px 30px 22px 30px;
}
/* controls */
.video_player .custom_controls {
    clear: both;
    height: 30px;
    position: relative;
    width: 100%;
}
.play, .pause, .volume, .time_slider, .timer {
    float: left;
}
.play, .pause, .mute, .unmute {
    cursor: pointer;
}
.play, .pause {
    display: block;
    height: 33px;
    margin-left: 5px;
    margin-right: 28px;
    opacity: 0.8;
    width: 33px;
    transition: all 0.2s ease-in-out; 
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.play {
    background: url(../images/play.png) no-repeat;
}
.pause {
    background: url(../images/pause.png) no-repeat;
    display: none;
}
.play:hover, .pause:hover {
    opacity: 1;
}
.time_slider {
    border: 1px solid #5f5f5f;
    height: 10px;
    margin-top: 10px;
    position: relative;
    width: 175px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #777777;

}
.time_slider .ui-slider-handle {
    background: url(../images/handler.png) no-repeat;
    cursor: pointer;
    height: 16px;
    top: -2px;
    width: 16px;
}
.time_slider .ui-slider-handle.ui-state-hover {
    opacity: 1;
}
.time_slider .ui-slider-range {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #292929;
}
.timer {
    color: #000;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 6px;
}
.volume {
    color: #FFFFFF;
    height: 35px;
    overflow: hidden;
    padding: 20px 0px 0;
    position: absolute;
    right: -5px;
    width: 33px;
    bottom: -7px;
}
.volume:hover {
    background: url(../images/volume.png) no-repeat scroll 11px 0 transparent;
    height: 161px;
}
.volume_slider {
    height: 105px;
    left: -1px;
    opacity: 0;
    position: relative;
    width: 33px;
}
.volume:hover .volume_slider {
    opacity: 1;
}
.volume_slider .ui-slider-handle {
    background: url(../images/handler.png) no-repeat;
    height: 15px;
    left: 10px;
    margin-left: 0;
    width: 14px;
}
.volume_slider .ui-slider-handle.ui-state-hover {
    opacity: 1;
}
.mute, .unmute {
    bottom: 0px;
    display: block;
    height: 33px;
    opacity: 0.8;
    position: absolute;
    text-indent: -999px;
    width: 33px;
}
.mute:hover, .unmute:hover {
    opacity: 1;
}
.mute {
    background: url(../images/vol_full.png) no-repeat;
	 background-size: 25px;
}
.unmute {
    background: url(../images/vol_mute.png) no-repeat;
	    background-size: 25px;
    display: none;
}
.circular-chart{
	background:#fff;
	text-align:center;
}
.circular-btm{
	padding:30px;
}
.margin {
    margin-top: 0;
    height: 150px;
    margin-left: 0;
    margin-right: 0;
}
canvas {
  z-index: 100;
}

.labelPercentage {
  font-size: x-large;
}
 
.labelText {
  font-size: small;
  color: #CCCCCC;
}
 
.labelContainer {
  display: block;
  text-align: center;
  width: 100px;
  font-family: Helvetica;
}

.social-icons{
	margin:20px 0 50px 0;
}
.facebook,.twitter,.google,.pinterest,.yahoo,.linkedin,.youtube,.tumblr,.dribbble{
	padding:30px 0;
	text-align:center;color:#fff;
	width: 10.2%;
}
.social-icons .fa{
	font-size:40px;
}
.facebook{
	background:#3b5998;
	transition: 01s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
	border:2px solid transparent;
}
.facebook:hover{
	border:2px solid #3b5998;
	background:transparent;
}
.twitter{
	background:#1da1f2;
	margin:0 1%;
	transition: 01s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
	border:2px solid transparent;
}
.twitter:hover{
	border:2px solid #1da1f2;
	background:transparent;
}
.linkedin{
	background:#0077b5;
	transition: 01s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
	border:2px solid transparent;
}
.linkedin:hover{
	border:2px solid #0077b5;
	background:transparent;
}
.yahoo{
	background:#410093;
	margin:0 1%;
	transition: 01s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
	border:2px solid transparent;
}
.yahoo:hover{
	border:2px solid #410093;
	background:transparent;
}
.pinterest{
	background:#bd081c;
	transition: 01s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
	border:2px solid transparent;
}
.pinterest:hover{
	border:2px solid #bd081c;
	background:transparent;
}
.google{
	background:#dd4b39;
	margin:0 1%;
	transition: 01s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
	border:2px solid transparent;
}
.google:hover{
	border:2px solid #dd4b39;
	background:transparent;
}
.dribbble{
	background:#444444;
	transition: 01s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
	border:2px solid transparent;
}
.dribbble:hover{
	border:2px solid #444444;
	background:transparent;
}
.youtube{
	background:#cd201f;
	margin:0 1%;
	transition: 01s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
	border:2px solid transparent;
}
.youtube:hover{
	border:2px solid #cd201f;
	background:transparent;
}
.tumblr{
	background:#35465c;
	transition: 01s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
	border:2px solid transparent;
}
.tumblr:hover{
	border:2px solid #35465c;
	background:transparent;
}
.footer-agileits-w3layouts p{
	color:#fff;
	text-align:center;
	font-size:14px;
}
.footer-agileits-w3layouts p a{
	color:#fff;
	transition: 01s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
}
.footer-agileits-w3layouts p a:hover{
	text-decoration:underline;
}

/******** SAP ************/
.sap_tabs{
	clear:both;
	margin-top:20px;
}
.sap_tabs h3{
	color: #555555;
	font-size: 1.5em;
	font-weight:700;
	margin-bottom:15px;
}
.sap_tabs h4{
	font-size: 0.95em;
	color: #ACACAC;
}
.sap_tabs h3 a{
	font-size:.7em;
}
.sap_tabs h3 a:hover{
	text-decoration:underline;
}
.sap_tabs p {
    font-size: 13px;
    color: #272D30;
    line-height: 30px;
    font-weight: 300;
}
.facts{
	padding: 4%;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 100%;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	border-left: 1px solid #465E78;
	color: #ffffff;
	font-size: 1em;
	background: #C5CDD1;
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
	cursor: pointer;
	padding:12px 0;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	width: 25%;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.resp-tab-item:hover {
    background: #ff9800;
    text-shadow: none;
    color: #FFF;
}
.resp-tab-active {
    background:#ff9800;
    text-shadow: none;
    color: #ffffff;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#C5CDD1;
	margin:10px 0;
	color:#FFF;
}
h2.resp-accordion:hover{
	background:#5BA4A4;
	text-shadow: none;
	color: #FFF;
}
.tab_style{
	margin-top:19px;
}
.tab-img{
	width:35%;
	float:left;
	padding:0;
}
.tab-text{
	width:65%;
	float:left;
}
.tab-text h4 {
    color: #555555;
    font-size: 1.3em;
    font-weight: 700;
}
.tab-text h5{
    text-align: left;
    color: #676767;
    font-size: 14px;
    font-weight: 700;
	margin:10px 0;
}
.tab-text h5,.tab-text h4{
	text-align:left;
}
@media only screen and (max-width:480px) {
	.sap_tabs{
		padding-top:0;
	}
	.resp-tabs-container{
		padding:10px;
	}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
a.mail{
	color: #56CCC8;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
a.mail:hover {
	color: #555555;
}
.tab_style{
	float:left;
	width: 48.333333%;
}
.tab_left{
	margin-right: 10px;
}
.tab_txt{
	width: 64.333333%;
	float: left;	
}
.contact-form div{
	margin: 10px 0;
}
.contact-form label{
	color:#555555;
	font-size:0.8725em;
	text-transform:capitalize;
}
.contact-form input[type="text"],.contact-form textarea{
	font-family: 'Open Sans', sans-serif;
	font-size:0.8725em;
	color:#B8B6B6;
	padding: 10px;
	display: block;
	width: 98%;
	background: #FFFFFF;
	border:1px solid #E6E6E6;
	outline: none;
	-webkit-appearance: none;
	margin-top: 10px;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="text"]:focus,.contact-form textarea:focus{
	color:#555;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: 1px solid rgba(117, 95, 165, 0.05);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.contact-form input[type="submit"]{
	margin-top:2%;
	background: #fc3955;
	color: #ffffff;
	font-size: 1em;
	text-transform: uppercase;
	padding: 8px 20px;
	border: none;
	cursor: pointer;
	line-height: 1.5em;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-appearance:none;
	outline:none;
}
.contact-form input[type="submit"]:hover{
	background: #56CCC8;
}
/*-----radio-switch-buttons-----*/
.toggle {
    margin: 20px 0 0em 0;
    background: #fff;
    min-height: 229px;
}
.switech-grid {
	float:left;
	width:50%;
}
.btm-switch {
    margin-top: 43px;
    text-align: center;
    margin-left: 25%;
}
.switch {
  margin:0px auto;
  position: relative;
  margin-top:37px;
}
.switch:first-child{
	margin-top:0;
}
.switch label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.switch input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.demo5{
	float:left;
	margin-right:10%;
}
.demo6{
	float:left;
}
.switch.demo3 {
  width:66px;
  height:35px;
}
.switch.demo3 label {
  display: block;
  width: 100%;
  height: 100%;
  background:#07cbc9;
  border-radius:40px;
  color: #FFF;
  box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
  -webkit-box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
  -moz-box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
  -o-box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
}
.switch.demo3 label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px; right: -8px; bottom: -8px; left: -8px;
  border-radius: inherit;
}
.switch.demo3 label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -5px; right: -5px; bottom: -5px; left: -5px;
  border-radius: inherit;
  /*--background:rgba(51, 92, 140, 0.37);--*/
}
.switch.demo3 label i {
  display: block;
  height: 90%;
  width: 48%;
  border-radius: inherit;
  position: absolute;
  z-index: 2;
  right: 49%;
  top: 1.5px;
  background: #fff;
  border: none;
  box-shadow: 0 0 4px rgb(46, 46, 46);
  -webkit-box-shadow: 0 0 4px rgb(46, 46, 46);
  -moz-box-shadow: 0 0 4px rgb(46, 46, 46);
  -o-box-shadow: 0 0 4px rgb(46, 46, 46);
}
.switch.demo3 label i:after {
  content: "";
  position: absolute;
  left:20%;
  top:20%;
  width:18px;
  height:18px;
  border-radius: inherit;
}
.switch.demo3 label i:before {
  content: " ";
  text-transform: uppercase;
  color:#999999;
  font-size:0.8em;
  position: absolute;
  top: 50%;
  margin-top:-8px;
  right:-120%;
  color:#fff;
}
.switch.demo3 input:checked ~ label {
  background:#e5e7ea;
  color:#FFF;
 
}
.switch.demo3 input:checked ~ label i {
  right: -1%;
}
.switch.demo3 input:checked ~ label i:before  {
  content: " ";
  right: 155%;
  color:#FFF;
}
/*--toogle_2--*/
.switch.demo4 {
  width:80px;
  height:35px;
}
.switch.demo4 label {
  display: block;
  width: 100%;
  height: 100%;
  background:#07cbc9;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
  color: #FFF;
  box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
  -webkit-box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
  -moz-box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
  -o-box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
  font-size: 1.1em;
}
.switch.demo4 label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px; right: -8px; bottom: -8px; left: -8px;
  border-radius: inherit;
}
.switch.demo4 label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -5px; right: -5px; bottom: -5px; left: -5px;
  border-radius: inherit;
  /*--background:rgba(51, 92, 140, 0.37);--*/
}
.switch.demo4 label i {
  display: block;
  height: 90%;
  width: 38%;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  position: absolute;
  z-index: 2;
  right: 59%;
  top: 1.5px;
  background: #fff;
  border: none;
  box-shadow: 0 0 4px rgb(46, 46, 46);
  -webkit-box-shadow: 0 0 4px rgb(46, 46, 46);
  -moz-box-shadow: 0 0 4px rgb(46, 46, 46);
  -o-box-shadow: 0 0 4px rgb(46, 46, 46);
}
.switch.demo4 label i:after {
  content: "";
  position: absolute;
  left:20%;
  top:20%;
  width:18px;
  height:18px;
  border-radius: inherit;
}
.switch.demo4 label i:before {
  content: "on";
  text-transform: uppercase;
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: -120%;
  color: #fff;
  font-weight: 700;
}
.switch.demo4 input:checked ~ label {
  background:#e5e7ea;
  color:#FFF;
  font-size:1.1em;
}
.switch.demo4 input:checked ~ label i {
  right: -1%;
}
.switch.demo4 input:checked ~ label i:before  {
  content: "off";
  right: 155%;
  color:#a4a9ae;
}
/*--toogle_3 --*/
.switch.demo7 {
  width:80px;
  height:35px;
}
.switch.demo7 label {
  display: block;
  width: 100%;
  height: 100%;
  background:#07cbc9;
  border-radius:4px;
  -webkit- border-radius:4px;
  -moz- border-radius:4px;
  -o- border-radius:4px;
  color: #FFF;
  box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
  -webkit-box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
  -moz-box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
  -o-box-shadow: inset 0px 0px 0px #0076B3, 0px 0px 0px 0px #1B455A, 0px 2px 1px #FFF;
}
.switch.demo7 label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px; right: -8px; bottom: -8px; left: -8px;
  border-radius: inherit;
}
.switch.demo7 label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -5px; right: -5px; bottom: -5px; left: -5px;
  border-radius: inherit;
  /*--background:rgba(51, 92, 140, 0.37);--*/
}
.switch.demo7 label i {
  display: block;
  height: 90%;
  width: 38%;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  position: absolute;
  z-index: 2;
  right: 59%;
  top: 1.5px;
  background: #fff;
  border: none;
  box-shadow: 0 0 4px rgb(46, 46, 46);
  -webkit-box-shadow: 0 0 4px rgb(46, 46, 46);
  -moz-box-shadow: 0 0 4px rgb(46, 46, 46);
  -o-box-shadow: 0 0 4px rgb(46, 46, 46);
}
.switch.demo7 label i:after {
  content: "";
  position: absolute;
  left:20%;
  top:20%;
  width:18px;
  height:18px;
  border-radius: inherit;
}
.switch.demo7 label i:before {
  content: " ";
  text-transform: uppercase;
  color:#999999;
  font-size:0.8em;
  position: absolute;
  top: 50%;
  margin-top:-8px;
  right:-120%;
  color:#fff;
  width: 22px;
  height: 22px;
}
.switch.demo7 input:checked ~ label {
  background:#e5e7ea;
  color:#FFF;
 
}
.switch.demo7 input:checked ~ label i {
  right: -1%;
}
.switch.demo7 input:checked ~ label i:before  {
  content: " ";
  right: 155%;
  color: #FFF;
  width: 22px;
  height: 22px;
}

/*--//main--*/
.main-info {
    background: #fff;
    width: 60%;
    float: left;
    margin: 20px 0 0 15px;
}
.form-left {
    float: left;
    width: 34.6%;
    padding: 2em;
   
    position: relative;
}
.form-right {
    float: right;
    width: 64.5%;
    padding: 2em;
	border-left: 1px solid #e6e6e6;
}
/*--form-left--*/
.form-left h2 {
    color: #555555;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 15px;
}
.main-info p {
    font-size: 1em;
    color: #a0a0a0;
    font-weight: 100;
	text-align:center;
}
/*--radio start here--*/
.grid-radio {
    margin: 1.5em;
}
.grid-radio label {
    color: #828282;
    font-size: 1em;
}
span.radio-circle{
	display:block;
}
span.radio-circle.radio-left {
    margin-bottom: 1.5em;
}
span input[type="radio"] {
  display: none;
}
span.radio-circle input[type="radio"]+label {
    position: relative;
    padding: 1px 0 1px 33px;
    width: 100%;
    cursor: pointer;
}
 span.radio-circle input[type="radio"]+label i:first-child {
    width: 22px;
    height: 22px;
    display: inline-block;
    background: #d6d6d6;
    position: absolute;
    left: 0;
}
span.radio-circle input[type="radio"]:checked+label i:first-child {
    background: #67aaef;
}
span.radio-circle input[type="radio"]+label i:first-child:before {
    content: "";
    background: #bdbdbd;
    position: absolute;
    left: 7px;
    top: 7px;
    width: 8px;
    height: 8px;
    border-radius: 15px;
}
span.radio-circle input[type="radio"]:checked+label i:first-child:before {
  background: #fff;
}
/*--//radio end here--*/
a.pay-pal {
    font-size: 1em;
    background:#ff9800;
    padding: 5px 15px;
    color: #fff;
    font-weight: 100;
    display: inline-block;
    text-align: center;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	margin-top:20px;
}
a.pay-pal span {
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
    margin-left: 1em;
}
a.pay-pal:hover {
    background:#07cbc9;
}
/*--form-right--*/
.top-text {
    margin-bottom: 0.2em;
}
.form-right h3 {
    color: #555555;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 15px;
}
.form-right span.price {
    font-size: 1.8em;
    color: #252a2b;
    font-weight: 400;
    float: right;
}
.account {
    margin-top: 1.8em;
}
.form-right input.checkout {
    padding: 0.8em;
    font-size: 1em;
    color: #8a8a8a;
    background-color: #e6e6e6;
    border: none;
    margin-bottom: 0.8em;
	outline:none;
}
input.checkout.name {
    width: 51%;
}
input.checkout.month {
    width: 15%;
    padding: .8em .6em;
    margin-left: .3em;
	text-align: center;
}
input.checkout.pin {
    width: 68%;
}
.form-right input[type="submit"] {
    outline: none;
    padding: 10px 0;
    width: 85%;
    font-size: 1em;
    border: none;
    color: #fff;
    cursor: pointer;
    background:#ff9800;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	margin-top:20px;
}
.form-right input[type="submit"]:hover {
    background: #07cbc9;
}
span.middle-text {
    font-size: 1em;
    background: #e4e4e4;
    border-radius: 32px;
    color: #989898;
    padding: .7em;
    text-align: center;
    position: absolute;
    bottom: 10%;
    right: -10%;
}

/*-- Accordion --*/
.acrdn {
    /*width: 35.35%;*/
    /*float: left;*/
    margin: 20px 0 0 0px;
}
.ac-container div {
	border-bottom: 2px ridge #272b2d;
}

.ac-container label {
	padding: 8px 20px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	color:#555555;
	line-height: 33px;
	font-size: 1em;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 56%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 56%);
	background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 56%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
}

.ac-container label:hover {
	background: #ee2332;
	background: -moz-linear-gradient(top, #00b7c9 0%, #00b7c9 100%);
	background: -webkit-linear-gradient(top, #00b7c9 0%,#00b7c9 100%);
	background: linear-gradient(to bottom, #00b7c9 0%,#00b7c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee2332', endColorstr='#bc202b',GradientType=0 );
	color: #fff;
}

.ac-container input:checked + label, .ac-container input:checked + label:hover {
	color: #fff;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
	background: #ee2332;
	background: -moz-linear-gradient(top, #00b7c9 0%, #00b7c9 100%);
	background: -webkit-linear-gradient(top, #00b7c9 0%,#00b7c9 100%);
	background: linear-gradient(to bottom, #00b7c9 0%,#00b7c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee2332', endColorstr='#bc202b',GradientType=0 );
}

.ac-container label:after, .ac-container input:checked + label:hover:after {
	content: '';
	position: absolute;
	right: 25px;
	top: 22px;
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 6px dashed;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}

.ac-container input:checked + label:after {
	content: '';
	position: absolute;
	right: 25px;
	top: 22px;
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 6px dashed;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

.ac-container input {
	display: none;
}

.ac-container article {
	background: #fff;
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
	line-height: 23px;
	font-size: 14px;
	padding: 15px 20px;
	color: #999;
	background-color: #fff;
}

.ac-container input:checked ~ article {
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
	height: 220px;
}

.ac-container input:checked ~ article.ac-medium {
	height: 180px;
}

.ac-container input:checked ~ article.ac-large {
	height: 230px;
}

.login-form p {
	font-size: 0.9em;
	text-align: center;
	line-height: 1.9em;
	color: #fff;
	margin-top: 1em;
}

.ac-small ul {
	padding: 0;
	border-bottom: 2px solid #BC202B;
}

.ac-small ul li {
	list-style-type: none;
}

.ac-small ul li a {
	font-size: 14px;
	color: #999;
	text-decoration: none;
	text-transform: capitalize;
	display: block;
	padding: 0.9em 0 0.9em 2em;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 66%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 66%);
	background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 66%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
}

.ac-small ul li a:hover {
	background: #315cb1;
	background: -moz-linear-gradient(top, #009688 2%, #009688 100%);
	background: -webkit-linear-gradient(top, #009688 2%,#009688 100%);
	background: linear-gradient(to bottom, #009688 2%,#009688 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#315cb1', endColorstr='#26478c',GradientType=0 );
	color: #fff;
}
/*-- //Accordion --*/


/*--Responsive --*/
@media (max-width:1440px){
	.profile-top h4 {
		font-size: 22px;
	}
	#map {
		height: 337px;
	}
	.progress {
		height: 15px;
		margin-bottom: 0.93em;
	}
	a.pay-pal {
		font-size: 12px;
	}
	span.middle-text {
		right: -11%;
	}
	.volume {
		right: -10px;
	}
	.time_slider {
    border: 1px solid #5f5f5f;
    height: 10px;
    margin-top: 10px;
    position: relative;
    width: 141px;
	}
}
@media (max-width:1366px){
	.margin {
		margin-left: -23px;
	}

	.profile-top h4 {
		font-size: 19px;
		font-weight: 600;
	}
	#map {
		height: 350px;
	}
	.video_player {
		padding: 33px 25px 22px 25px;
	}
	a.pay-pal {
		padding: 5px 8px;
	}
	.flex2 {
		margin: 21px 0;
	}
	.ac-container label {
		padding: 8.2px 20px;
	}
}
@media (max-width:1280px){
	.main-w3 {
		width: 100%;
	}
	.progress {
		margin-bottom: 1.2em;
	}
	#map {
		height: 360px;
	}
	.margin {
		margin-left: 0;
	}
}
@media (max-width:1080px){
	.margin {
		margin-left: -39px;
	}
	 .skills-btm{
		padding:30px 30px 20px 30px;
	 }
	 .flex2 {
		margin: 7px 0;
	}
	#map {
		height: 340px;
	}
	.switch.demo7,.switch.demo4 {
		width: 70px;
		height: 35px;
	}
	.switch.demo3 {
		width: 66px;
		height: 35px;
	}
	.main-info {
		width: 70%;
	}
	.acrdn {
		width: 23.8%;
	}
	.ac-container label {
		padding: 8.3px 20px;
	}
	.facebook, .twitter, .google, .pinterest, .yahoo, .linkedin, .youtube, .tumblr, .dribbble {
		padding: 22px 0;
	}
	.profile-top h4 {
		margin: 14px 0px 15px 0;
		font-size:15px;
	}
	.profile-top h5 {
		font-size: 13px;
	}
}
@media (max-width:1024px){
	.top-menu form {
		margin-right: 30px;
	}
	.left-w3l{
		padding-right: 0;
	}
	.right-w3l {
		padding-left:0;
	}
	.flex2 {
		margin: 20px 0;
	}
	.alert-close{
		right:30px;
	}
	.profile-top {
		padding: 20px;
	}
	.profile-top h4 {
		font-size: 16px;
	}
	.profile-top h4 {
		margin: 13px 0px 15px 0;
	}
	.profile-top h5 {
		font-size: 14px;
	}
	.weather-top {
		padding: 36px;
	}
	.weather-bottom-wthree h4 {
		font-size: 16px;
	}
	.weather-bottom-wthree {
		padding: 15px 0px;
	}
	#map {
		height: 311px;
		background:transparent!important;
	}
	.switch-w3{
		padding-left:0;
	}
	.demo5 {
		float: left;
		margin-right: 6%;
	}
	.acrdn {
		margin: 20px 0 0 15px;
	}
	a.pay-pal {
		margin-top: 12px;
	}
	.alert-close1 ,.alert-close2{
		right: 0px;
	}
}
@media (max-width:991px){
	.main-w3 {
		padding: 40px;
	}
	.main-w3 h1 {
		margin-bottom: 40px;
	}
	.navbar-nav > li > a {
		padding: 20px 30px 0 30px;
	}
	.left-w3l ,.middle-w3l,.right-w3l{
		width:70%;
		float:none;
		margin:0 auto;
		padding:0;
	}
	.profile-top-left {
		width: 40%;
		float: left;
	}
	.profile-top-right {
		width: 60%;
		float: left;
	}
	.profile-top h4 {
		font-size: 25px;
	}
	.profile-top h4 {
		margin: 35px 0px 15px 0;
	}
	.profile-top h5 {
		font-size: 20px;
	}
	.middle-w3l{
		margin:20px auto;
	}
	.time_slider {
		width: 432px;
	}
	.sap_tabs {
		width: 73%;
		margin: 20px auto 0 auto;
	}
	.switch-w3 {
		padding: 0;
		width: 71%;
		float: none;
		margin: 0 auto;
	}
	.margin {
		margin-left: 0px;
	}
	.main-info {
		width: 71%;
		margin: 20px 0 0 130px;
	}
	.acrdn {
		margin: 20px 0 0 130px;
		width: 71%;
	}
	.facebook, .twitter, .google, .pinterest, .yahoo, .linkedin, .youtube, .tumblr, .dribbble {
		padding: 20px 0;
		width: 10%;
		float: left;
	}
	.social-icons .fa {
		font-size: 30px;
	}
}
@media (max-width:966px){
	.top-menu form {
		margin-right: 26px;
	}
}
@media (max-width:900px){
	.time_slider {
		width: 373px;
	}
	.main-info {
		width: 71%;
		margin: 20px 0 0 118px;
	}
	.form-left {
		padding: 2em 2em 2em 1em;
	}
	.acrdn {
		margin: 20px 0 0 118px;
		width: 71%;
	}
}
@media (max-width:900px){
	.main-w3 h1 {
		font-size: 43px;
	}
	.navbar-nav > li > a {
		padding: 20px 20px 0 20px;
	}
	.search input[type="text"] {
		font-size: 13px;
		padding: 9px 5px;
		width: 82%;
	}
	.top-nav {
		width: 70%;
	}
	.search {
		width: 30%;
	}
}
@media (max-width:800px){
	.time_slider {
		width: 298px;
	}
	.form-left {
		float: left;
		width: 38.6%;
	}
	.form-right {
		float: right;
		width: 60.5%;
	}
	.main-info,.acrdn {
		margin: 20px 0 0 103px;
	}
}
@media (max-width:768px){
	.time_slider {
		width: 271px;
	}
	.main-info, .acrdn {
		margin: 20px 0 0 98px;
	}
	input.checkout.month {
    width: 21%;
	}
}
@media (max-width:736px){
	.cl-effect-13 a::before {
		top: 65%;
	}
	.navbar-toggle {
		float: left;
		padding: 9px 10px;
		margin: 15px 0 0 15px;
		border-color: transparent;
		background: #03a9f4;
		border-radius:0;
		border:none;
	}
	.nav > li {
		text-align: center;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #ff9800;
	}
	.top-nav {
		width: 55%;
	}
	.search {
		width: 45%;
	}
	.top-menu form {
		margin-right: 15px;
	}
	.navbar-collapse.in {
    overflow-y:visible;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.time_slider {
		width: 255px;
	}
	input.checkout.name {
		width: 68%;
	}
}
@media (max-width:667px){
	.profile-top h4 {
		margin: 20px 0px 15px 0;
	}
	.time_slider {
		width: 205px;
	}
	.main-info, .acrdn {
		margin: 20px 0 0 84px;
	}
	.form-right input[type="submit"] {
		width: 100%;
	}
	input.checkout.month {
		width: 26%;
	}
	.social-icons .fa {
		font-size: 25px;
	}
	.facebook, .twitter, .google, .pinterest, .yahoo, .linkedin, .youtube, .tumblr, .dribbble {
		padding: 12px 0;
	}
}
@media (max-width:640px){
	.time_slider {
		width: 187px;
	}
	.main-info, .acrdn {
		margin: 20px 0 0 79px;
	}
}
@media (max-width:600px){
	.left-w3l, .middle-w3l, .right-w3l {
		width: 75%;
	}
	.sap_tabs {
		width: 80%;
		margin: 20px auto 0 auto;
	}
	.switch-w3 {
		width: 75%;
	}
	.main-info, .acrdn {
		margin: 20px 0 0 64px;
		width: 75%;
	}
	.time_slider {
		width: 163px;
	}
	.social-icons .fa {
		font-size: 21px;
	}
}
@media (max-width:568px){
	.main-w3 {
		padding: 31px;
		margin:0;
	}
	.main-w3 h1 {
		font-size: 40px;
	}
	.form-left,.form-right {
    float: left;
    width: 100%;
	}
	.form-right {
		border-top:1px solid #eee;
	}
	span.middle-text {
		right: 43%;
		bottom:-8%;
	}
}
@media (max-width:480px){
	.left-w3l, .middle-w3l, .right-w3l {
		width: 92%;
	}
	.sap_tabs {
		width: 100%;
	}
	.switch-w3 {
		width: 93%;
	}
	.main-info, .acrdn {
		margin: 20px 0 0 15px;
		width: 92%;
	}
	.facebook, .twitter, .google, .pinterest, .yahoo, .linkedin, .youtube, .tumblr, .dribbble {
		padding: 8px 0;
	}
}
@media (max-width:414px){
	.search input[type="submit"] {
		background: url(../images/search.png) no-repeat 0px 9px;
		border: none;
		outline: none;
		width: 15%;
		background-size: 17px;
	}
	.main-w3 h1 {
		font-size: 35px;
		margin-bottom:35px;
	}
	.main-w3 {
		padding: 25px;
		margin: 12px 0px 15px 0;
	}
	.profile-top h4 {
		font-size: 19px;
	}
	.profile-top h5 {
		font-size: 17px;
	}
	.time_slider {
		width: 126px;
	}
	.margin {
		margin-left: -27px;
	}
	.switch.demo3 {
		width: 54px;
		height: 35px;
	}
	.switch.demo7, .switch.demo4 {
		width: 61px;
		height: 35px;
	}
	.social-icons .fa {
		font-size: 17px;
	}
	.search input[type="text"] {
		width: 78%;
	}
	..search input[type="submit"] {
		background: url(../images/search.png) no-repeat 0px 7px;
	}
}
@media (max-width:384px){
	.main-w3 {
    padding: 20px;
	}
	.search,.top-nav {
		width: 50%;
	}
	.toggle-btm {
		padding: 22px;
	}
	.profile-top h4 {
		font-size: 18px;
		margin: 8px 0px 15px 0;
	}
	.profile-top h5 {
		font-size: 16px;
	}
	.time_slider {
		width: 113px;
	}
}
@media (max-width:375px){
	.toggle-btm {
		padding: 18px;
	}
	 .profile-top {
		padding: 16px;
	}  
	.play, .pause {
		margin-left: 5px;
		margin-right: 20px;
	}
}
@media (max-width:320px){
	.main-w3 {
		padding: 10px;
	}
	.login-agile form, .subscribe-agileits-w3layouts form, .flex-bottom, .skills-btm, .toggle-btm {
		padding: 20px;
	}
	.menu-top, .login-top, .sub-top, .skills-top, .flex-top, .circular-top, .toggle-top, .acrdn-top {
		padding: 10px 0px;
	}
	.menu h4, .flexible h4, .skills h4, .login-agile h4, .subscribe-agileits-w3layouts h4, .circular-chart h4, .toggle-top h4, .acrdn-top h4 {
		font-size: 20px;
	}
	.profile-top h4 {
		font-size: 15px;
		margin: 8px 0px 15px 0;
	}
	.profile-top h5 {
		font-size: 13px;
	}
	#map {
		height: 250px;
	}
	.alert-close{
		top:76px;
		right: 20px;
	}
	canvas#pending {
    width: 275px!important;
    height: 137px!important;
}
	.margin {
		margin-left: -34px;
	}
	.switch.demo3 {
		width: 50px;
		height: 28px;
	}
	.switch.demo7, .switch.demo4 {
		width: 52px;
		height: 28px;
	}
	.switech-grid {
		margin-top: 20px;
	}
	.scrollbar ul {
		padding: 1.5em 1em;
	}
	.scrollbar ul li {
		font-size: 13px;
	}
	.form-right input[type="submit"] {
		font-size: 13px;
	}
	.facebook, .twitter, .google, .pinterest, .yahoo, .linkedin, .youtube, .tumblr, .dribbble {
		padding: 3px 0;
	}
	.social-icons .fa {
		font-size: 14px;
	}
}